<%- include("header") -%>

<div class="jumbotron container container-fluid">
    <h1 class="header"><%= listTitle %></h1>

    <ul class="list-group list-group-rounded">
        <% newTask.forEach((item) => {  %>
        <form action="/delete" method="POST">
            <span class="list-group-item item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>"onchange="this.form.submit()">
                <p class="itemm"> <%= item.content %> </p>
            </span>
        </form>
        <% }) %>

        <hr>
        <form action="/" method="POST" class="input-group mb-3">
            <input type="text" class="form-control" autocomplete="off" placeholder="Add new item" required
                name="newTask">
            <div class="input-group-append">
                <button class="btn btn-dark addbtn" type="submit" name="list" value="<%= listTitle %>">+</button>
            </div>
        </form>
    </ul>
</div>
</body>
</html>
